*{padding: 0;margin: 0;box-sizing: border-box;}
body{
background-color:#f68122;
}
#code{
    height:50vh;
    background-color: white;
    overflow: auto;
}
.picture{
height:50vh;
width:50vh;
left:50%;
bottom: 0%;
margin-left:-25vh;
position:absolute;
}
.actions{
    position: absolute;
    right: 10%;
    top: 10px;
}
.actions>button{
    border: none;
    background: #f68122;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 3px;
    
}
.actions>button.active{
    box-shadow: 2px 4px 2px 1px #be5e0f;
}
.actions>button:focus{
    outline: none;
}