body,h1,h2,h3,p,small,a{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 42px;
    padding: 35px;
    font-weight: normal;
}
body{
    background: #f2f2f2;
}
.main{
    text-align: center;
    padding: 20px 0;
}
.window{
    border:1px solid white;
    box-shadow:0 0 3px #AAAAAA;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    margin: 20px auto;
    width: 920px;
    overflow: hidden;
}

.images{
    display: flex;
    width: 920px;
    height: 400px;
    margin: 0 auto;
    transition: all 0.5s;
    box-shadow:0 0 3px #AAAAAA;
    position: relative;
}
#menu{
    height:45px;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
}
.silde.enter{
    transform: translateX(100%);
}
.silde.current{
    transform: translateX(0);
    z-index: 1;
}
.silde.leave{
    transform: translateX(-100%);
    z-index: 1;
}

ul{
    margin:0px;
    padding:0px;
    
}

li{
    /* Every thumbnail is a li element */
    width:60px;
    display:inline-block;
    list-style:none;
    height:45px;
    overflow:hidden;
    position: relative;
}
li img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)
}
li.inact:hover{
    /* The inactive state, highlighted on mouse over */
    background:url(img/pic_bg.png) repeat;
}

li.act,li.act:hover{
    /* The active state of the thumb */
    background:url(img/active_bg.png) no-repeat;
}

li.act a{
    cursor:default;
}

.fbar{
    /* The left-most vertical bar, next to the first thumbnail */
    width:2px;
    background:url(img/divider.png) no-repeat right;
}

li a{
    display:block;
    background:url(img/divider.png) no-repeat right;
    height:35px;
    padding-top:10px;
}

a img{
    border:none;
}

.nav2{
    display: none; 
}
@media (max-width:420px){
    .buttonlist>.nav2{
        display: block;
    }
}