*{margin: 0;padding: 0;}
*{box-sizing: border-box;}

.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 0.3s;
    width: 100%;
}
.images>img{
    top:0;
    width: 100%;
    
}
.buttonWrapper{
    text-align: center;
}






