.loading{
    height: 200px;
    width: 200px;
    border: 1px solid;
    position:relative;
  }
  .loading::before,.loading::after{
    content:'';
    position:absolute;
    height: 10px;
    width: 10px;
    background:black;
    border-radius:50%;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    animation: s 2.5s linear infinite;
  }
  .loading::after{
    animation-delay: 1s;
  }
  @keyframes s{
    0%{
      width:0px;height:0px; opacity:1;
    }
    100%{
      width:100px;height:100px;opacity:0;
    }
  }