*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
h1,h2,h3,h4,h5{
    font-weight: normal;;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.topnavbar ul li{
    float: left;
    list-style: none;
    margin-right: 17px;
    margin-left: 17px;
    border-bottom: 3px solid transparent;
} 
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topnavbar nav ul a:hover{
    border-bottom: 3px solid #e6684a;
} 
.topnavbar ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
}
.topnavbar .rs{
    color:#e6684a;
    margin-left: 4px;
    font-family: "Arial black";
}
.topnavbar .wordcard{
    color: #9a9da2;
    font-family: "Arial black";
}
.topnavbar .logo{
    font-size: 24px;
    padding-top: 1px;
    padding-bottom: 3px;
    float: left;

}
.topnavbar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 20px 0px 20px 0px; 

}
.topnavbar .topnavbar-inner{
    padding: 0px 16px;

}
.banner{
    height: 515px;
    background: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5)
}
.card{
    background-color: #fff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 5px 0.5px rgba(0,0,0,0.50);
    margin-top: -370px;
}
.pirctureandtext{
    padding: 50px;
}
.card .picture{
    float: left;
}
.card .text{
    float: left;
    margin-left: 50px;
    width: 470px; 
}
.text .welcome{
    background-color: #e6686a;
    color:white;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
    line-height: 22px;

}
.text .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    border-top-width: 0px;
    border-left-color: #e6686a;
    position: absolute;
    left:4px;
    top:100%;
}
.card .text h1{
    margin-top: 26px;
}
.card .text p{
    margin-top: 16px;
    margin-bottom: 16px;
}
.card .text hr{
    height: 0;
    border:none;
    border: 1px solid #dedede;
}
.text dt,
.text dd{
    float: left;
    padding: 5px 0px;
}
.text dt{
    width: 30%;
    font-weight: bold;
} 
.text dd{
    width: 70%;
    color: #9da0a7;
}
.text dl{
    margin: 16px 0px;
}
.card .media{
    background-color: #e6686a;
    text-align: center;
}
.media svg{
    width:30px;
    height:30px;
    fill: white; 
    vertical-align: top;
}
.card footer a{
    display: inline-block;
    border-radius: 50%;
    width:40px;
    line-height: 30px;
    padding: 5px 0;
    margin: 15px;
}
.card footer a:hover{
    background-color: #cf5d5f;
}
main .pdfdownload{
    display: inline-block;
    padding: 21px 55px; 
    background: #efefef;
    border: 1px solid #cdcfd1;
    margin: 32px 0;
    font-weight: bold; 
    color: #3d4451;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}
main .pdfdownload-wrapper{
    text-align: center;
}
main .pdfdownload:hover{
    box-shadow: 0px 3px 10px 0.5px rgba(0,0,0,0.5);
}
main .intrduction{
    font-family: kai;
    text-align: center;
    line-height: 1.8;
    font-weight: 18px;
}
.skills,
.protfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skills  h2,
.protfolio h2{
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    color: #3d4451;
    margin-top: 30px;
    font-weight: 600;
}
.skills  .skillsList{
    background: white;
    box-shadow: 0px 3px 10px 0.5px rgba(0,0,0,0.5);
    margin-top: 30px;
    padding: 42px 50px 10px;
}
.skills  .skillsList h3{
    font-size: 14px;
    line-height: 1.1;
    
}
.skills .skillsList li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
.skills .skillsList li:nth-child(even){
    float: right;
}
.skills li .progressBar{
    height: 5px;
    background: #fae1e1;
    margin: 4px 0 40px;
    border-radius: 2px;  
}
.skills li .progress{
    height: 100%;
    width: 50%;
    background: #E6686A;
    border-radius: 2px;
}
.protfolio{
    text-align: center;
    margin-bottom: 100px;
}
.protfolio nav{
    text-align: center;
    display: inline-block;
    vertical-align: top; 
}
.protfolio nav ol{
    display: inline-block;
    vertical-align: top;  
    margin: 0 auto; 
}
.protfolio nav ol li{
    float: left;
    margin-left: 40px; 
}
.protfolio nav ol li:nth-child(1){
    margin-left: 0;
}
.protfolio nav .bar{
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 100px; 
}
.protfolio nav .barinner{
    height: 100%;
    background-color: #e6686a;
    border-radius: 2px;
    transition: all 0.3;
}
.protfolio nav .bar.state-1 .barinner{
    width:50px;
    margin-left:0;
}
.protfolio nav .bar.state-2 .barinner{
    width:50px;
    margin-left: 65px;
}
.protfolio nav .bar.state-3 .barinner{
    widows: 121px;
    margin-left: 140px;
}
.protfolio .works{
    position: relative;
}
.protfolio .works>.big,
.protfolio .works>.small{
    position: absolute;
}

