.topnavbar ul li{
    float: left;
    list-style: none;
    margin-right: 17px;
    margin-left: 17px;
    border-bottom: 3px solid transparent;
} 
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topnavbar nav ul.hover{
    border-bottom: 3px solid #e6684a;
} 
.topnavbar ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #b7b7b7;
}
.topnavbar .rs{
    color:#e6684a;
    margin-left: 4px;
    font-family: "Arial black";
}
.topnavbar .wordcad{
    color: #9a9da2
    font-family: "Arial black";
}
.topnavbar .logo{
    font-size: 24px;
    padding-top: 1px;
    padding-bottom: 3px;
    float: left;

}
.topnavbar{
    position: fixed;
    width: 100%;
}

